*{
    box-sizing: border-box;
    font: inherit;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}                                                                                   
a, a:hover{text-decoration: none;}
* li{
    list-style-type: none;
}
audio, img, iframe, video{
    display: block;
    height: auto;
    width: 100%;
}
:root{
    --montserrat: 'Montserrat', sans-serif;
}