.bt{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 3px 6px 0px rgba(0, 0, 0, 0.12);
    color: #fff;
    display: inline-block;
    font-family: var(--montserrat);
    font-size: 1rem;
    margin: 10px 0;
    padding: 0.78rem 1rem;
}
.bt-blue{
    background-color: #2196f3;
    border-color: #2196f3;
}